:root {
  --slidev-code-background: rgb(212 212 212 / 85%);
  --slidev-code-font-size: 1.2rem;
  --slidev-code-line-height: 27px;
}
.slidev-layout h1 {
  color: #F8F8F0;
  font-size: 5rem;
  font-weight: 500;
}
.slidev-layout h2 {
  color: #F8F8F0;
  font-size: 2.5rem;
  font-weight: 450;
  margin-top: 1em;
}
.slidev-layout li {
  color: #F8F8F0;
  font-size: 2rem;
  font-weight: 450;
  margin-top: 0.25em;
  line-height: 1.25em;
}
.slidev-vclick-target {
  transition-duration: 700ms;
}
