:root {
  --slidev-code-font-size: 3rem;
  --slidev-code-background: rgba(242, 242, 242, 0.35);
  --slidev-code-line-height: 4.5rem;
}
.slidev-layout {
  background-image: url("/images/backdrop.jpg");
  background-size: cover;
  box-shadow: 14px -14px 0 14px #363f36 inset;
}
.slidev-layout h1 {
  color: #2a2a2a;
  font-size: 3.4rem;
  font-weight: 350;
  line-height: 1em;
}
.slidev-layout h2 {
  color: #0a0a0a;
  font-size: 2.75rem;
  font-weight: 300;
  line-height: 1em;
}
.slidev-layout ul {
  color: #2a2a2a;
  font-size: 2.5rem;
  font-weight: 275;
  line-height: 1em;
}
.slidev-layout li ul {
  font-size: 1.75rem;
}
:not(pre) > code:before,
:not(pre) > code:after {
  content: "";
}
pre {
  text-align: left;
}
.slidev-layout blockquote {
  font-size: 1.75rem;
  margin-right: auto;
  margin-left: auto;
  width: 74%;
  border: 0;
  box-shadow: #363f36 0px 3px 0px 3px;
}
  .slidev-layout blockquote p {
  line-height: 2.2rem;
}
div.right-ribbon,
div.left-ribbon {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  color: #f8f8f0;
  font-size: 1.1rem;
}
div.right-ribbon {
  right: 0;
}
span.right-ribbon {
  padding-left: 6px;
  padding-right: 6px;
}
div.left-ribbon {
  left: 0;
  margin-left: 28px;
}
